@import 'tailwindcss';

body {
  background: #0f0f0f;
}

@utility animate-border-beam {
  animation: border-beam calc(var(--duration) * 1s) linear infinite;
}

/* Keyframes equivalentes a keyframes['border-beam'] */
@keyframes border-beam {
  100% {
  offset-distance: 100%;
  }
}

@media (hover: none) {
  .animate-border-beam {
  animation: none;
  }
}